# =============================================================================
# Environment Configuration
#
# Copy this file to:
#     env.txt
#
# Then edit the values below.
#
# For SECRET_KEY, generate a strong random secret using Python:
# python -c "import secrets; print(secrets.token_hex(32))"
#
# =============================================================================

[security]

SECRET_KEY = d620d0b6a010a8ff0af9e8da824b6fd88567bcc6f9d670f3a70fd3abeacbfaf5
