# This is how you comment in this file. Lines starting with a hash-symbol(#) are ignored.
# Use the below command to generate cryptographic-hash in powershell to fill up this file.
# python -c "from passlib.hash import bcrypt; print(bcrypt.hash('mypassword'));"
# The default passwords in the 2 hashes below is "test".

INSERT INTO users (name,email,password_hash,role) VALUES ('Harry','officer@test.com','$2b$12$VysPA1rpRMBCdkELzlqCEuOV7aknO6xfrbFytkd7XANfmwRMv7.We','officer');
INSERT INTO users (name,email,password_hash,role) VALUES ('Tom','operator@test.com','$2b$12$7wSzO.TFD8R5Ph3wQ.wBve3R0RWsROj8Ny1AFLOjbV/iJn7n8EYlO','operator');
